body {
    background-color: #FFFFFF; /* #E4E6E7*/
    font-family: 'Roboto', sans-serif;
}

aside {
    background-color: #C0D8DE;
    width: 30%;
    margin-top: 25px;
    padding: 15px 15px;
}

aside
h1,
h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

section {
    font-weight: normal;
    text-align: justify;
    margin: 30px 0px;
}

.line {
    width: 75%;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container {
    margin: 0 25px;
    text-align: center;
}

.normal {
    font-weight: normal;
}

.profession {
    font-weight: lighter;
    text-align: center;
}

.text {
    text-align: justify;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
